body {
    font-family: "Inclusive Sans", sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

nav {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    gap: 6%;
    align-items: center;
    justify-content: center;
}

nav .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .nav-header h1,
nav .nav-header p {
    margin: 0;
    line-height: 1.2;
}

nav .nav-header h1 {
    font-size: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    border: #FFC72C 1px solid;
    border-radius: 100px;
    width: 60%;
  }

nav .left-nav {
    display: flex;
    flex-direction: row;
}

nav p {
    margin: 20px;
    color: #E0E0E0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}


.navbar p:hover {
    border-bottom: 2px solid #FFC72C;
    cursor: pointer;
}

nav .right-nav {
    display: flex;
}

nav img {
    width: 30px;
    padding: 0 20px;
}

.show {
    padding: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.show img {
    width: 30%;
}

.me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 10%;
    gap: 50px;
}

.me img {
    width: 450px;
    max-width: 100%;
}

.me p {
    font-size: 30px;
}

.me h1 {
    font-size: 50px;
}

.me b {
    color: #FFC72C;
}

.me button {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    border: #FFC72C 5px solid;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
    background-color: #FFFFFF;
    color: #121212;
    align-self: flex-start;
}

.me button:hover {
    background-color: #E0E0E0;
}


.experience {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 50px;
}

.experience-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.experience h1 {
    color: #FFC72C;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
}

.experience-item h2 {
    margin-bottom: 0px;
}

.experience-item .keywords {
    margin-bottom: 8px;
    font-style: italic;
}
  
.experience-item .description {
    margin-top: 1px;
}

.experience-item b {
    color: #FFC72C;
}

.experience-item i {
    color: #E0E0E0;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: column;
}

.experience .scroll {
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
    display: none;
  }

footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #E0E0E0;
    font-size: 15px;
}

footer a {
    color: #E0E0E0;
    text-decoration: none;
}